-
  var menu = [
    {
      link: '#',
      name: 'Games',
      nextLevel: [
        {
          link: '#',
          name: 'King',
          nextLevel: [
            {
              link: '#',
              name: 'Google Play'
            },
            {
              link: '#',
              name: 'App Store'
            }
          ]
        },
        {
          link: '#',
          name: 'Pouch',
          nextLevel: [
            {
              link: '#',
              name: 'Google Play',
            },
            {
              link: '#',
              name: 'App Store',
            }]
        },
        {
          link: '#',
          name: 'Viking',
          nextLevel: [
            {
              link: '#',
              name: 'Google Play',
            },
            {
              link: '#',
              name: 'App Store',
            }]
        },
        {
          link: '#',
          name: 'Centaur',
          nextLevel: [
            {
              link: '#',
              name: 'Google Play',
            },
            {
              link: '#',
              name: 'App Store',
            }]
        }

      ]
    },
    {
      link: '#',
      name: 'Company',
    },
    {
      link: '#',
      name: 'Careers',
    }
  ];
