mixin footer
  footer.footer
    .container
      .row.footer__wrap
        .col-lg-3.center-lg.h3
          a.footer__link(href='#') Privacy policy
        .col-lg-3.center-lg.h3
          a.footer__link(href='#') Terms of use
        .col-lg-3.center-lg.h3
          a.footer__link(href='#') Contacts
        .col-lg-3.center-lg.h3
          a.footer__link(href='#') Terms of use
      .center-lg &copy; 2022 GameStudio, Inc. All rights reserved
