mixin recommend
  aside.col-lg-4.recommend
    h3.center-lg.recommend__title Over 1 million people play this game every month
    .row
      .center-lg.col-lg-6
        svg.recommend__icon
          use(href='#king')
        h5.recommend__icon-title King
      .center-lg.col-lg-6
        svg.recommend__icon
          use(href='#pouch')
        h5.recommend__icon-title Pouch
      .center-lg.col-lg-6
        svg.recommend__icon
          use(href='#viking')
        h5.recommend__icon-title Viking
      .center-lg.col-lg-6
        svg.recommend__icon
          use(href='#centaur')
        h5.recommend__icon-title Viking
