mixin video-block
  section.video-block
    video.video-block__video(autoplay='', loop='', muted='')
      source(
        src='https://res.cloudinary.com/intellectfox/video/upload/v1659362056/fe/production_ID_3866539_dxjgbj.mp4'
      )
      |
      | Your browser does not support the video tag
    .video-block__bg-light
    .container.video-block__title-container
      .row.end-lg
        .col-lg-4
          h1.video-block__title
            span.primary GameStudio
            |
            | is one of the top 10
            |
            | mobile gaming companies in the world
