@import './fonts';
@import 'https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css';

:root {
  --white: #fff;
  --black: #000;
  --primary: #28d223;
  --border-color: #d9d9d9;
  --background-footer: #f7f7f7;
  --container-lg: 1136px;
  --unit: 8px;
  --gap: calc(var(--unit) * 2);
  --header-height: 100px;
  --a-speed: 250ms;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

h2 {
  font-weight: 800;
  font-size: 3.125rem;
  margin-bottom: calc(var(--unit) * 8);
}

h3,
.h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4;
}

h5 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2;
}

p {
  font-size: 1.5rem;
  line-height: 1.15;
  margin-bottom: calc(var(--unit) * 3);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style-type: none;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  width: 100%;
  max-width: calc(var(--container-lg) + var(--unit) * 4);
  padding: 0 var(--gap);
}

.primary {
  color: var(--primary);
}

/*header*/
.header {
  background-color: var(--white);
  position: relative;
  z-index: 1;
}

.header__home {
  display: inline-block;
}

.header__logo {
  width: 225px;
  height: 32px;
  fill: var(--primary);
}

.menu__col {
  display: flex;
  height: var(--header-height);
  align-items: center;
}

.menu__first-level {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}

.menu__first-level:hover {
  padding: var(--gap) 0;
}

.menu__first-level a {
  color: var(--black);
  transition: color var(--a-speed) ease-in-out;
}

.menu__first-level a:hover {
  text-decoration: none;
  color: var(--primary);
}

/*Сделал стрелочку только для первой ссылки*/
.menu__first-level > ul ~ a:after {
  content: '';
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 2px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--black);
  transition: border-top-color var(--a-speed) ease-in-out;
}

.menu__first-level > a:hover:after {
  border-top-color: var(--primary);
}

.menu__first-level ul {
  display: none;
  flex-direction: column;
  width: 176px;
  padding: var(--gap) calc(var(--gap) * 2) var(--gap) var(--gap);
  gap: var(--gap);
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--unit);
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  z-index: 1;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.15);
  animation: menu-level-2 var(--a-speed) ease-in-out;
}

.menu__first-level:hover > ul {
  display: flex;
}

@keyframes menu-level-2 {
  0% {
    top: 80%;
    opacity: 0;
  }
  80% {
    top: 100%;
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.menu__first-level > ul a {
  display: block;
  position: relative;
}

.menu__first-level ul > li {
  position: relative;
}

.menu__first-level ul > li > ul ~ a:after {
  content: '';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid var(--black);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: border-left-color var(--a-speed) ease-in-out;
}

.menu__first-level ul > li ul {
  left: 100%;
  top: 0;
  transform: translateX(calc(var(--unit) * 6));
  animation: menu-level-next var(--a-speed) ease-in-out;
}

.menu__first-level ul > li:hover > ul {
  display: flex;
}

@keyframes menu-level-next {
  0% {
    left: 80%;
    opacity: 0;
  }
  80% {
    left: 100%;
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.menu__first-level ul > li ul:before {
  content: '';
  display: inline-block;
  width: calc(var(--unit) * 8);
  height: calc(100% + 20px);
  position: absolute;
  top: -20px;
  right: 100%;
}

.menu__first-level ul > li:hover > a:after {
  border-left-color: var(--primary);
}

/*video-block*/
.video-block {
  position: relative;
  z-index: 0;
  margin-top: -15%;
  margin-bottom: 100px;
}

.video-block__video {
  display: flex;
  width: 100vw;
  height: auto;
}

.video-block__bg-light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.video-block__title-container {
  position: absolute;
  top: calc(15% + var(--header-height) + 158px);
  left: 50%;
  transform: translateX(-50%);
}

.video-block__title {
  font-size: 36px;
  font-weight: 900;
  text-align: left;
}

/*content*/
.content {
  margin-bottom: 150px;
}

.game__icon {
  width: 470px;
  height: 475px;
  margin-bottom: calc(var(--unit) * 6);
}

.game__date {
  display: block;
  margin-bottom: calc(var(--unit) * 6);
}

.tags {
  display: flex;
  gap: var(--gap);
  margin-bottom: calc(var(--unit) * 6);
}

.tag {
  padding: var(--unit) var(--gap);
  border: 1px solid var(--border-color);
  border-radius: 40px;
  cursor: pointer;
}

.apps {
  display: flex;
  gap: var(--gap);
}

.apps__icon {
  height: 40px;
}

.apps__icon--google {
  width: 135px;
}

.apps__icon--apple {
  width: 120px;
}

.recommend__title {
  margin-bottom: calc(var(--unit) * 8);
}

.recommend__icon {
  width: 160px;
  height: 160px;
  margin-bottom: var(--gap);
}

.recommend__icon-title {
  margin-bottom: calc(var(--unit) * 6);
}

/*footer*/
.footer {
  background-color: var(--background-footer);
  padding: 100px 0;
}

.footer__wrap {
  margin-bottom: calc(var(--unit) * 9);
}

.footer__link {
  color: var(--black);
}

.footer__copy {
  font-size: 0.875rem;
}
