include ../content/menu
include ../content/index

include ../sections/header
include ../sections/video-block
include ../sections/game
include ../sections/recommend
include ../sections/footer

include ../components/page
include ../components/sprite

+page(pageInfo)
  +sprite
  +header(menu)
  +video-block
  section.container.content
    .row
      +game
      +recommend
  +footer
